.card {
  position: relative;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: #90b4ce;
}

.card h1,
.card h2,
.card h3,
.card p {
  color: black;
}
