input[type="radio"] {
  display: none
}

.rating-control {
  justify-content: center;
}

.rating-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: black;
}

.star-icon {
  cursor: pointer;
  transition: color 200ms;
}